beautifulsoup4
requests
yfinance
rapidfuzz
alpaca-py
pandas
numpy
dotenv
TA-lib
tqdm
waybackpy
transformers
torch
torchvision
pandas_market_calendars
alpaca_trade_api
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib